* {
  margin : 0px;
  padding : 0px;
  padding-bottom: 20px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: block;
  justify-content: center;
  width: 100%;
  /* height: 80vh; */
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 160, 160);
  /* height : 10vh; */
  padding : 4vh 0;
}

.Chart1 {
  margin-top: 2vh;
  display: block;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.Chart1-Buttons {
  font-size: large;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Chart2 {
  margin-top: 10vh;
  display: block;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.Chart2-Buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Chart-Button {
  font-size: large;
}
